# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
old 6th edition for reference/Yomichan/[Monolingual] 広辞苑 第六版.zip
old 6th edition for reference/EPWING/KOJIEN6 ebzip (Use EBWin!)/KOJIEN/GAIJI/GA48HALF
old 6th edition for reference/EPWING/KOJIEN6 ebzip (Use EBWin!)/KOJIEN/GAIJI/GA48FULL
old 6th edition for reference/EPWING/KOJIEN6 ebzip (Use EBWin!)/KOJIEN/GAIJI/GA30HALF
old 6th edition for reference/EPWING/KOJIEN6 ebzip (Use EBWin!)/KOJIEN/GAIJI/GA30FULL
old 6th edition for reference/EPWING/KOJIEN6 ebzip (Use EBWin!)/KOJIEN/GAIJI/GA24HALF
old 6th edition for reference/EPWING/KOJIEN6 ebzip (Use EBWin!)/KOJIEN/GAIJI/GA24FULL
old 6th edition for reference/EPWING/KOJIEN6 ebzip (Use EBWin!)/KOJIEN/GAIJI/GA16HALF
old 6th edition for reference/EPWING/KOJIEN6 ebzip (Use EBWin!)/KOJIEN/GAIJI/GA16FULL
old 6th edition for reference/EPWING/KOJIEN6 ebzip (Use EBWin!)/KOJIEN/DATA/HONMONG.ebz
old 6th edition for reference/EPWING/KOJIEN6 ebzip (Use EBWin!)/KOJIEN/DATA/Honmon2.ebz
old 6th edition for reference/EPWING/KOJIEN6 ebzip (Use EBWin!)/CATALOGS
KOUJIEN7.csv
